.conteiner{
        width: 40%;
        height: 13rem;
        background-color: var(--bgCard);
        display: flex;
        flex-direction: row;
        border-radius: 20px;
        padding: 0px 0px;
        box-shadow: 9px 11px 16px -5px rgba(65, 65, 65, 0.75);
-webkit-box-shadow: 9px 11px 16px -5px rgba(66, 66, 66, 0.75);
-moz-box-shadow: 9px 11px 16px -5px rgba(66, 66, 66, 0.75);
        
}

.cont {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.conteiner:hover {
    box-shadow: 9px 11px 16px -5px rgb(0, 0, 0);
-webkit-box-shadow: 9px 11px 16px -5px rgba(0, 0, 0, 0.75);
-moz-box-shadow: 9px 11px 16px -5px rgba(0, 0, 0, 0.75);
}


.divImg{
    width: 55%;
    height: 100%;
    border-radius: 20px;
}

.divImg img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.divP p {
    font-size: 0.8rem;
    text-decoration: red;
    color: var(--fontPrimary);
    font-weight: bold;
}
.title {
   font-weight: 600;
   padding: 0px 2px;
   color: white;
   text-shadow: .05em  0em 0em var(--fontPrimary);
}

.rating {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: end;
    gap: 3px;
    
}

.icon {
    color: var(--fontPrimary);
    font-size: 0.9rem ;
    
}

.divP{
    padding: 0px 3px;
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

}


@media only screen and (max-width: 800px) {
    .divImg img {
        object-fit: inherit;
        width: 100%;
        height: 100%;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .conteiner{
        width: 46%;
    }
}

@media only screen and (max-width: 700px) {
    .conteiner{
        width: 44%;
    }
    .divP p {
        font-size: 0.7rem;
        text-decoration: red;
        color: var(--fontPrimary);
        font-weight: bold;
    }
}

@media only screen and (max-width: 620px) {
    .conteiner{
        width: 65%;
    }
    .divP p {
        font-size: 0.9rem;
        text-decoration: red;
        color: var(--fontPrimary);
        font-weight: bold;
    }
}

@media only screen and (max-width: 498px) {
    .conteiner{
        width: 85%;
    }
    .divP p {
        font-size: 0.9rem;
        text-decoration: red;
        color: var(--fontPrimary);
        font-weight: bold;
    }
}
